body {
    font-family: 'Play', sans-serif !important;
    background-color: #23272A;
    color: #FFFFFF !important;
}

.link {
    color: #7289DA !important;
}

h1,h2,h3,h4,h5,h6,p {
    color: #FFFFFF;
}

hr {
    background-color: #FFFFFF;
}

.bg-not-quite-black  {
  background-color: #2C2F33 !important;
  color: #FFFFFF !important;
}

.CodeMirror {
  font-size: 16px;
  height: auto !important;
}

a {
  color: #7289da;
}

a:hover {
  color: #4d5e94;
}

code {
  color: #eb1e66;
}
                        
blockquote {
  border-left: 5px solid #7289DA;
  border-radius: 3px;
  margin-left: 3px;
  padding: 2px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #d3d3d3;
}

::-webkit-scrollbar-thumb {
  background: #4D5E94;
}

::-webkit-scrollbar-thumb:hover {
  background: #3E4D80;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 180px;
  margin-bottom: 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 224px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -12px;
  color: #030005;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
  letter-spacing: -20px;
}

.notfound .notfound-404 h2 {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px #8400ff;
  letter-spacing: 13px;
  margin: 0;
}

.notfound a {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: #ff005a;
  text-decoration: none;
  border: 2px solid;
  background: transparent;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #66a1ff;
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.card-imge {
    z-index: 1;
    width: 8em; 
    height: 8em;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -4em;
    border: 0.4em solid #838991;
}

.card-bg {
    width: 100%;
    height: 11em;
    object-fit: cover;
    border-radius: 5px;
}

.card {
  box-shadow: 5px 5px #2C2F33 !important;
  transition: 2s;
}

.card:hover {
  transform: translate(0, -7px);
  transition: 2s;
  cursor: pointer;
  box-shadow: 5px 5px #99AAB5 !important;
}

code, pre {
  border-radius: 5px;
}

.btn {
  box-shadow: 5px 5px #23272A !important;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
}