<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Snowflake107">
    <meta name="og:title" content="Snowflake Development ❄️">
    <meta name="og:theme-color" content="#FF7851">
    <meta name="og:description" content="Official Website Of Snowflake Development">
    <meta property="og:image" content="https://snowflakedev.xyz/Snowflake.png">

    <meta name="twitter:title" content="Snowflake Development ❄️">
    <meta name="twitter:theme-color" content="#FF7851">
    <meta name="twitter:description" content="Official Website Of Snowflake Development">
    <meta property="twitter:image" content="https://snowflakedev.xyz/Snowflake.png">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <title>Snowflake Development ❄</title>
</head>
<body onload="emojify()">
    <div class="container">
        <%- include("./part/nav.ejs") %>
        <div id="notfound">
            <div class="notfound">
                <div class="notfound-404">
                    <h1>404</h1>
                    <h2>Page Not found</h2>
                </div>
                <p><b>Soviets trying to occupy Europe again...</b></p>
                <br><br>
                <a href="/">Home</a>
            </div>
        </div>
        <%- include("./part/footer.ejs") %>
    </div>
</body>
</html>